@import 'mixin';
.fragment-container {
  width: 100%;
  padding: 0 100px;
  position: relative;
  padding-bottom: 85px;
  h1 {
    text-align: center;
    padding: 80px 0;
    position: relative;
    font-weight: 400;
    color: #293650;
    font-size: 40px;

  }

  h1:before {
    content: '';
    display: block;
    height: 2px;
    background: #ccc;
    opacity: 0.8;
    width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
  }

  .customer {
    display: flex;
    justify-content: space-between;

    li {
      width: 24%;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      text-align: center;
    }

    span {
      display: block;
      color: #333;
      font-size: 20px;
      padding: 20px 0 15px 0;
    }
    p{
      font-size: 14px;
      color: #999;
      word-break: break-all;
    }
  }
  .have{
    display: flex;
    justify-content: space-between;
    height:  480px;
    overflow: hidden;
    >img{
      display: flex;
      width: 600px;
      height: 100%;
    }
    .left{
      flex: 1;
      background: #0d1c34;
      color: #fff;
      position: relative;
    }

    .left>ul{
      padding: 100px 50px 0 50px;
      position: relative;
      z-index: 5;
      li{
        line-height: 2.2;
        font-size: 14px;
        opacity: 0.8;
      }
      li+li{
        margin-top: 20px;
      }
    }
    .left>.ground-top{
      position: absolute;
      @include size(35px,35px);
      background-color: #208e90;
      top: 50px;
      left: 20px;
      opacity: 0.5;
    }
    .left>.ground-bottom{
      position: absolute;
      @include size(55px,55px);
      background-color: #208e90;
      bottom: 50px;
      right:  30%;
      opacity: 0.4;
    }
    .ground-bottom::after{
      content: '';
      display: block;
      @include size(85px,85px);
      background-color: #208e90;
      position: absolute;
      right: -70px;
      top: -70px;
      opacity: 0.5;
      z-index: 9;
    }
    .ground-top::after{
      content: '';
      display: block;
      @include size(60px,60px);
      background-color: #208e90;
      position: absolute;
      right: -45px;
      bottom: -45px;
      opacity: 0.7;
      z-index: 2;
    }
    .invest{
      width: 280px;
      background: #1c2c40;
      @include flex-center();
      flex-direction: column;
      color: #fff;
    }
    .invest>img{
      display: block;
    }
    .invest>span{
      display: block;
      padding: 10px 0 5px 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 1;
    }
  }
  .brief{
    position: relative;
    >img{
      display: block;
      position: relative;
      height: 500px;
      width: 740px;
    }
  }
  .brief-right{
    height: 450px;
    width: 600px;
    box-shadow: 0 0 3px #efefef;
    padding: 0 30px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    h2{
      font-size: 24px;
      text-align: center;
      padding: 70px 0 30px 0;
      color: #333;
      opacity: 0.9;
    }
    p{
      line-height: 1.8;
      color:#666;
      font-size: 14px;
      opacity: 0.9;
    }
  }
}
.fragment-container.grey{
  background: #FAFAFC;
}
.footer{
  width: 100%;
  background: #0d1c34;
  padding: 55px 100px 30px 100px;
  color: #fff;
  display: flex;
  font-size: 14px;
  .left{
    width: 60%;
    h2{
      font-size: 20px;
      opacity: 0.7;
      font-weight: normal;
      padding-bottom: 20px;
      color: #fff;
    }
  }
  .right{
    flex: 1;
    margin-left: 10px;
  }
  ul{
    opacity: 0.7;
    li{
      line-height: 1.8;
      font-size: 14px;
    }
  }
  a{
    color: #208e90;
    font-size: 16px;
    text-decoration: none;
  }
  a+a{
    margin-left: 30px;
  }
  h3{
    font-size: 18px;
    font-weight: normal;
    padding: 15px 0;
    opacity: 0.7;
    color: #fff;
    margin: 0;
  }
}
.problem{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  li{
    width: 48%;
    display: flex;
    padding: 40px 0;
    border-bottom: 1px #f2f2f2 dashed;
  }
  .left{
    @include size(85px, 85px);
    background: #f2f2f2;
    margin-right: 15px;
  }
  .right{
    flex: 1;
    span{
      color: #6E6A6A;
      font-size: 14px;
      display: block;
      padding-bottom: 20px;
    }
    p{
      color: #978E87;
      font-size: 14px;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.input-code{
  height: 30px;
  width: 100%;
  @include flex-around();
  img{
    @include size(90px,40px);
    display: block;
  }
  input{
    display: block;
    flex: 1;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #efefef;
  }
}
.partners-list{
  display: flex;
  flex-wrap: wrap;

  li{
    width: 20%;
    text-align: center;
    margin-bottom: 50px;
    img{
      cursor: pointer;
    }
  }
}